body{margin: 0;padding: 0;box-sizing: border-box;max-width: 100%;font-family: 'Impact'; background: linear-gradient(180deg, #2f1b43 0%, #251b2f 50.21%, #1b1b1b 70.65%);}
h1, h2, h3, h4, h5, h6, ul, ol, li, p{margin: 0;padding: 0;}
ul, ol{list-style: none;}
a{text-decoration: none;color: black;color: #fff;}     
img {max-width: 100%;display: block;}
/* font-family: "Audiowide", sans-serif; */
@font-face {
	font-family: 'Impact'; 
	src: url('../fonts/Impact/ofont.ru_Impact.ttf') format('truetype'); 
}
@font-face {
	font-family: 'Arima'; 
	src: url('../fonts/Arima/ArimaMadurai-Regular.ttf') format('truetype'); 
}
@font-face {
	font-family: 'Porter Sans Block'; 
	src: url('../fonts/Porter Sans Block/PorterSansBlock-Regular.ttf') format('truetype'); 
}
body {
  color: #fff;
  height: 100vh;
  max-height: 100vh;
}
.body {
	display: flex;
	padding: 0 0 0 40px;
}
.wrapper-main {
	width: 100%;
}